@font-face {
  font-family: 'Arial-MT';
  src: url("assets/fonts/Arial-MT.woff");
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;

  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}


        /*П Л Е Й Е Р */
        
.block-audio {
  opacity: 1;
  transition: opacity 0.5s;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item { 
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.play-item::before:active {
  color: #C5B358;

}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.play-item .item-active::before{
  color: red;
}


        /* КАСТОМНЫЙ  П Л Е Й Е Р */

.custom-player {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  position: absolute;
  left: 15%;
}

.name-custom-player {
  height: 20px;
  padding-left: 10px;
}

.controls-custom-player {
  display: flex;
  flex-direction: row;
  width: 100%;
}


  .progress {
    height: 100%;
    cursor: pointer;
    margin-right: 1vw;
    width: 100%;

  }

  .controls-custom-player-two {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 100%;
  }

  .time-custom-player {
    display: flex;
    flex-direction: row;
    margin: 1px 35px 0 5px;
  }

  .volume-custom-player {
    width: 30px;
    margin: 0 0 0 25px;
  }
  
  .volume-button {
    width: 20px;
    height: 20px;
    background-image: url('/assets/svg/volume.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .volume-button-off {
    width: 20px;
    height: 20px;
    background-image: url('/assets/svg/volume-mute.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

    .volume-percentage {
      cursor: pointer;
      height: 7px;
      width: 80%;
    }


        /*П О Г О Д А */

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;

  opacity: 1;
  transition: opacity 0.5s;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}


        /*ОСНОВНАЯ ЧАСТЬ */

.main {  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35vh;
  min-height: 260px;  
  padding: 20px;
}


        /*В Р Е М Я */

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}



.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  

  opacity: 1;
  transition: opacity 0.5s;
}


.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;

  opacity: 1;
  transition: opacity 0.5s;
}



.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;

  opacity: 1;
  transition: opacity 0.5s;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}


        /*НИЖНЯЯ ЧАСТЬ */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}


.quote-container {
  opacity: 1;
  transition: opacity 0.5s;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}


.setting-button {
  position: absolute;
  left: 20px;
  
  background: url('../assets/svg/sett.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 40px;
  min-height: 40px;
  border: transparent;
  cursor: pointer;
}



.setting-container {
  position: absolute;
  left: 10px;
  margin-bottom: 50px;
  height: 50%;
  width: 25%;
  background-color: white;
  border-radius: 6px;
  padding: 1vh 2vw 1vh 1vw;
  overflow-y: scroll;
}

.setting-container-none {
  display: none;
}



.setting-container h3 {
  font-size: 20px;
  color: rgb(51, 50, 50);
  text-align: left;
  padding: 15px 0 10px 0px;
  margin: 5px 0;
  border-bottom: 1px solid rgb(202, 199, 199);
}

.setting-container ul li label {
  font-size: 16px;
  color: rgb(49, 48, 48);
}

.setting-container ul li  {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid rgb(202, 199, 199);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.links {
  height: 4vh;
  background-color: hsla(0, 0%, 100%, 0.664);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-github img{
  height: 4vh;
}

.year-create {
  color: black;
  padding-top: 1vh;
}

.link-school img{
  padding-top: 1vh;
  height: 3vh;
}



            /*МЕДИА ЗАПРОСЫ*/

@media (max-width: 768px) {
  .custom-player {
    left: 25%;
  }

  .time-custom-player {
    margin: 1px 0px 0 5px;
  }

  .volume-custom-player {
    margin: 0 5px 0 15px;
  }

  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }

  .setting-container {
    margin-bottom: 60px;
    height: 30%;
    width: 40%;
    background-color: white;
    border-radius: 6px;
    padding: 1vh 2vw 1vh 1vw;
    overflow-y: scroll;
  }
}

@media (max-width: 556px) {
  .custom-player {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;

    position: absolute;
    left: 20px;
    top: 200px;
  }
}


@media (max-width: 425px) {
  .custom-player {
    width: 40%;
    position: absolute;
    left: 20px;
    top: 200px;
  }

  .current, .length {
    font-size: small;
  }
}

@media (max-width: 425px) {
  .setting-container {
    width: 60%;
  }
}

